* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left {
    background-color: #8CC484;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 82px 40px 0 80px; 
    color: #FFFEFE;
    position: relative;
    text-align: left;
}

.left .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    line-height: 1.4;
}

.left h1 {
    font-family: 'Poltawski Nowy', serif;
    font-size: 62px;
    margin-bottom: 20px;
}

.left h2 {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left p {
    font-size: 20px;
    margin-bottom: 20px;
}

.left button {
    background-color: transparent;
    border: 2px solid #FFFEFE;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.5s;
}

.left button:hover {
    background-color: #79a972;
}

button a {
    font-size: 16px;
    font-weight: 600;
    color: #FFFEFE;
}

.left img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
}

.right {
    width: 70%;
    background-color: #FFFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    line-height: 1.4;
}

.right h2 {
    font-size: 32px;
    color: #8CC484;
    font-weight: 700;
    margin-bottom: 10px;
}

.right p {
    font-size: 16px;
    color: #888;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 5px;
}

.form-group i {
    margin-right: 15px;
    color: #555;
    font-size: 18px;
}

.form-group input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.right button {
    background-color: #8CC484;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFEFE;
    cursor: pointer;
    transition: 0.5s;
}

.right button:hover {
    background-color: #32532e;
}